@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

span{
    float: right;
    color: hsl(236, 100%, 87%);
}


h3{
    margin-top: -3px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: 200;
}
h5{
    color: white;
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h6{
    margin-top: -7px;
    color: hsl(236, 100%, 87%);
    font-family: 'Rubik', sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
}

.iconImage{
    margin-top: -4px;
    margin-right: 10px;
    /* width: 50px; */
    height: 60px;
    z-index: 3;
}

.icon{
    position: absolute;
    overflow-y: hidden;
    right: 0;
    z-index: 2;
}
.background{
    position: relative;
    border-radius: 12px;
    height: 50px;
    z-index: 1;
}


.cardDiv{
    position: relative;
    margin-top: 35px;
    z-index: 4;
}

.cardInformation{
    padding: 1px 20px;
}

.previous{
    margin-top: -45px;
}

.background:nth-child(1){
    background-color: hsl(15, 100%, 70%);
}
.background:nth-child(2){
    background-color: hsl(195, 74%, 62%);
}
.background:nth-child(3){
    background-color: hsl(348, 100%, 68%);
}
.background:nth-child(4){
    background-color: hsl(145, 58%, 55%);
}
.background:nth-child(5){
    background-color: hsl(264, 64%, 52%);
}
.background:nth-child(6){
    background-color: hsl(43, 84%, 65%);
}

@media screen and (max-width: 767.98px){
    .background{
        width: 93%;
        margin: auto;
    }

    .timeContainer{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .previous{
        margin-top: 21px;
        font-size: 1rem;
    }
    h5{
        font-size: 1rem;
        margin-bottom: 9px;
    }
    .ellips{
        font-size: 1.3rem;
    }
}
