h6 {
    margin-bottom: 0;
  }
  ul {
    color: white;
    list-style-type: none;
    font-family: "Rubik", sans-serif;
    padding-left: 25px;
  }
  li {
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 15px;
    color: hsl(235, 45%, 61%);
  }
  li:nth-child(1){
    color: white;
  }
  
  li:hover {
    cursor: pointer;
  }
  li:target{
      color: red;
  }
  .userContainer {
    display: flex;
    flex-direction: column;
    height: 390px;
    max-width: 210px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: hsl(235, 46%, 20%);
    z-index: 2;
  }
  .timeFilter {
    background-color: hsl(235, 46%, 20%);
  }
  .userContent {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: hsl(246, 80%, 60%);
    padding: 30px 25px;
  }
  .imageContainer{
      width: 50%;
  }
  .profilePic {
      width: 100%;
      border: solid;
      border-color: white;
      border-radius: 50px;
  }
  .userInformation {
    margin-top: 30px;
  }
  .userInformation > p {
    margin-top: 0;
  }
  .username {
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
  }
  
  @media screen and (max-width: 767.98px) {
    .userContainer {
      max-width: 93%;
      margin: auto;
      overflow: hidden;
      height: 212px;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  
    .userContent {
      flex-direction: row;
      border-radius: 20px;
      height: 36%;
    }
  
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 20px;
    }
  
    li{
        font-size: 1.3rem;
    }
  
    .profilePic {
      border-radius: 100%;
      width: 90%;
      max-width: 70px;
    }
  
    .imageContainer{
        margin-right: 25px;
        margin-top: 13px;
        width: 25%;
    }
    .userInformation{
        width: 70%;
    }
  }
  
  @media screen and (max-width: 320px){
      .profilePic{
          width: 80px;
      }
  
      .imageContainer{
          margin-right: 35px;
      }
  }