.filters{
    display: relative;
    height: 250px;
    width: 110px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    z-index: 2;
}

.user{
    display: absolute;
    height: 170px;
    width: 110px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 7px;
    z-index: 1;

}