h6{
    margin-bottom: 0;
}
ul{
    margin-top: -15px;
    color: white;
    list-style-type: none;
    font-family: 'Rubik', sans-serif;
    padding-left: 25px;
}
li{
    font-size: 0.8rem;
    font-weight: 100;
    margin-bottom: 15px;
}

li:hover{
    cursor: pointer;
}
.userContainer{
    display: relative;
    /* height: 250px;
    width: 110px; */
    height: 390px;
    width: 210px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 7px;
    z-index: 2;
}
.user{
    display: absolute;
    /* height: 170px;
    width: 110px; */
    height: 260px;
    width: 210px;
    background-color: hsl(246, 80%, 60%);
    border-radius: 8px;
    z-index: 1;

}
.userContent{
    padding: 30px 25px;
}
.profilePic{
    border: solid;
    border-color: white;
    border-radius: 50px;
}
.userInformation{
    margin-top: 30px;
}
.username{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 100;
}
