
.container{
    width: 170px;
    height: 140px;
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    z-index: 6;

}

.container:hover{
    background-color: rgba(52,57,123,255);
}

@media screen and (max-width: 767.98px) {
    .container{
        height: 120px;
        width: 100%;
    }
}