body{
    background-color: hsl(226, 43%, 10%);
}
.mainContainer{
    /* background-color: red; */
    /* width: 100%; */
    max-width: 900px;
    /* max-width: 60%; */
    margin: 100px auto;
    display: flex;
    flex-flow: row ;
    /* justify-content: space-between; */
    /* gap: 5px; */
}

/* .cardContainer{
    max-width: 90%;
} */


.hoursContainer{
    /* background-color: hotpink; */
    margin-left: 20px;
    /* width: 100%; */
    max-width: 550px;
    display: flex;
    flex-flow: row wrap;
    /* gap: 12px; */
    column-gap: 20px;
    row-gap: 20px;
    z-index: 0;
}


@media only screen and (max-width: 767.98px){
    .mainContainer{
        /* background-color: green; */
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 200px;
    }
    .userContainer{
        width: 100%;

    }

    .hoursContainer{
        margin-left: 0;
        flex-flow: column wrap;
        row-gap: 135px;
        max-width: 100%;
    }

}